{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-left">
    <div class="col-md-6 mb-1">
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Here you can import or export your stock list</h4>
                <form method="post" enctype="multipart/form-data" action="{% url 'import' %}" class="mb-2">
                    {% csrf_token %}
                    <input type="file" name="importData">
                    <button class="btn btn-secondary mb-1" type="submit">Import</button>
                    <a href="{% url 'export' %}" class="btn btn-outline-dark mb-1 ml-2">Export</a>
                </form>
                <a href="{% url 'home' %}">Return Home View</a>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-left">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible col-md-6" role="alert">
        <div class="alert alert-primary" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}