{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-left">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-body">
                <h4>Import Data</h4>
                <p>importing to database</p>
                <form method="post" enctype="multipart/form-data" action="{% url 'import' %}">
                    {% csrf_token %}
                    <input type="file" name="importData">
                    <p>Please select format of file.</p>
                    <select name="file-format" class="form-control my-2">
                        <option selected>Choose format...</option>
                        <option>CSV</option>
                        <option>JSON</option>
                    </select>
                    <button class="btn btn-secondary mb-2" type="submit">Import</button>
                </form>

                <h4>Export Data</h4>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <a href="{% url 'export' %}" class="btn btn-outline-dark mb-2">Export</a>
                </form>
                <a href="{% url 'home' %}">Return Home View</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}